a.btn,
a:focus.btn,
a:hover.btn {
      display: inline-block;
      padding: 0.5em 1em;
      border: 1px solid #ccc;
      border-radius: 0.5em;
      color: white;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s;
      font-weight: normal;
}