.dashboard-counter {
    border-width: 5px;
    border-style: solid;
    border-radius: 50px;
    padding: 10px;
    width: 100px;
    font-size: 3em;
    text-align: center;
    height: 100px;
    color: green;
}

.dashboard-hdr {
    background-color: #183527;
    min-height: 4vmax;
    padding: 15px 0;
    margin-bottom: 20px;
    color: rgb(236, 232, 225);
    text-align: center;
}

.dashboard-box {
    display: grid;
    border: 1px solid rgba(33, 37, 41, 0.125);
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
}

.dashboard-list > .list-group {
    --bs-list-group-border-width: unset;
    --bs-list-group-item-padding-x: unset;
    --bs-list-group-border-radius: unset;
}

.dashboard-list  li {
    font-weight: 400;
    padding: 5px;
}

.dashboard-list li span {
    font-weight: 800;
}

.dashboard-list li.warning {
    color: white;
    background-color:rgb(171, 0, 0);
    border-radius: 3px;
}

.dashboard .alt-bg {
    border-radius: 5px;
    background-color: #ebebeb;
    padding: 10px;
}

.dashboard .alt-bg .table {
    margin-bottom: 0;
}

/* generated by https://loading.io/ */
@keyframes ldio-mtht8bi3gy {
    0% { opacity: 1 }
    50% { opacity: .5 }
    100% { opacity: 1 }
}

.ldio-mtht8bi3gy div {
    position: absolute;
    width: 15px;
    height: 40px;
    top: 30px;
    animation: ldio-mtht8bi3gy 1s cubic-bezier(0.5,0,0.5,1) infinite;
}
.ldio-mtht8bi3gy div:nth-child(1) {
    transform: translate(15px,0);
    background: #f06df8;
    animation-delay: -0.6s;
}
.ldio-mtht8bi3gy div:nth-child(2) {
    transform: translate(35px,0);
    background: #a976c3;
    animation-delay: -0.4s;
}
.ldio-mtht8bi3gy div:nth-child(3) {
    transform: translate(55px,0);
    background: #a0de59;
    animation-delay: -0.2s;
}
/*.ldio-mtht8bi3gy div:nth-child(4) {
    transform: translate(75px,0);
    background: #466b5a;
    animation-delay: -1s;
  } */

.loadingio-spinner-bars-949i7xv6frh {
    width: 44px;
    height: 44px;
    display: inline-block;
    overflow: hidden;
}
.ldio-mtht8bi3gy {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.44);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-mtht8bi3gy div { box-sizing: content-box; }
/* generated by https://loading.io/ */