.btn-clipboard {
    position: absolute;
    top: .65rem;
    right: .65rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: 65%;
    color: #007bff;
    background-color: #fff;
    border: 1px solid;
    border-radius: .25rem;
}

.bd-clipboard {
    position: relative;
    /* display: none; */
    /* float: right; */
    width: 20%;
}

.content {
    flex: 1 0 auto;
}